#### Creating A Graph

In [1]:
import tensorflow as tf

In [2]:
tf.__version__

'2.13.0'

In [3]:
import tensorflow.compat.v1 as tf

In [4]:
tf.disable_v2_behavior()

WARNING:tensorflow:From C:\Users\user\anaconda3_a\envs\tensorflow\lib\site-packages\tensorflow\python\compat\v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [5]:
graph = tf.get_default_graph()
graph.get_operations()

[]

In [6]:
x = tf.constant(25, name = 'x')

In [7]:
graph.get_operations()

In [8]:
y = tf.constant(30, name='input')

In [9]:
graph.get_operations()

In [10]:
z = tf.add(x,y, name='z')

In [11]:
z

In [ ]:
# no value shown because we are just building the graph;

In [12]:
mult = tf.multiply(x,y, name='mult')

In [13]:
graph.get_operations()

[<tf.Operation 'x' type=Const>,
 <tf.Operation 'input' type=Const>,
 <tf.Operation 'z' type=AddV2>,
 <tf.Operation 'mult' type=Mul>]

In [15]:
combo = tf.multiply(mult,z,name = 'combo')

In [16]:
sess = tf.Session()

In [17]:
print(sess.run(combo))

41250

#### NB: No need to initialize the variables because none was used in the above example.

In [18]:
for op in graph.get_operations(): print(op.name)

x
input
z
mult
combo

In [19]:
sess.close()

#### Example 1

#### 1.Statement of Problem:

Use the various features of an individual to predict what class of income they belong to,
given the Census data.

#### 2. Importing Relevant Libraries:

In [20]:
import pandas as pd

#### 3.Reading data onto Jupyter notebook:

In [21]:
census = pd.read_csv(r'C:\Users\user\Documents\Python_For_Data_Science_2023\Advanced Level\Class Material\Dataset\census.csv')
census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

#### 4. Summary of Data:

In [29]:
census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0

In [30]:
census.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

#### 5. EDA & Data Wrangling:

In [ ]:
# TensorFlow offers high level APIs => Main advantage
# We will be using the 'estimator API' to create a Linear Classifier ;

#### NB: Tensorflow cannot understand strings as labels;so we need to use pandas.apply( ) method to  apply a custom function that converts the respective strings to 0s and 1s.

In [22]:
# Convert the Label column to 0s and 1s instead of strings :
census['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [23]:
# Create a function to do this:

def fix_label(label):
    if label == '<=50K':
        return 0
    else:
        return 1

In [24]:
census['income'] = census['income'].apply(fix_label)

#### 6. Performing A Train Test Split On The Data :

In [25]:
from sklearn.model_selection import train_test_split

In [32]:
X = census.drop('income',axis=1)
y_ = census['income']

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,y_,test_size=0.3,random_state=101)

#### TensorFlow offers an API  called Estimator
#### model = tf.estimator.LinearClassifier(feature_columns = feat_cols)
#### model.train(input_fn = input_func, steps = 5000)
#### prepare feature columns and input function

In [ ]:
# To use the API, we need to prepare the columns => they are the features.

In [ ]:
model = tf.estimator.LinearClassifier(feature_columns = feat_cols)

In [ ]:
model.train(input_fn = input_func, steps = 5000)

#### 7. TensorFlow

In [ ]:
# import tensorflow.compat.v1 as tf

In [ ]:
# tf.disable_v2_behavior()

7a.Create the tf.feature_columns for the categorical values: use vocabulary lists or use hash buckets

In [ ]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender', ['Female'.'Male'])
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=1000)
native_country= tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=1000)

7b.Create the continuous feature_columns for the continuous values using numeric_column:

In [ ]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')

7c.Put all these variables into a single list with the variable name feat_cols :

In [ ]:
# Feature Columns=> feat_cols:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

7d.Create the Input Function:

In [ ]:
# Batch size is determined by user
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

#### 8.Create your model with tf.estimator:

8a. Create a LinearClassifier:

In [ ]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

8b. Training your model on the data, for at least 5000 steps:

In [ ]:
model.train(input_fn=input_func,steps=5000)

#### 9.Evaluation:

9a.Create a prediction input function.Provide shuffle=False.

In [ ]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)